<div class="row dark_background center">
  <h2 class="center">Your Shortified URLs</h2>
  
<% if @links.length == 0 %>
    <h4 class="center">You haven't shortified any URLs yet! <%= link_to 'Shortify a URL', "/links/new" %> today!</h4>
 <% else %>
    <% @links.each do |l| %>
        <h4><span class="underline"><%="Link \##{l.id}" %></span></h4>
        <p class="top_padding">Original URL: <%= l.original_url %></p>
        <p>Short URL: <%=link_to "#{l.short_url}", "/links/#{l.short_url}" %>
        <p>Number of hits: <%= l.number_of_hits %>
        

  <% end %>
<% end %>
</div>