<div class="dark_background left_padding">

  <div class="row">
      <div class="col-sm-4">
      <% if session["user_id"].present? %>
        <% @user = User.find_by_id(session["user_id"]) %>
        <h2>Shortify a Link!</h2>

        <%= form_tag("/links", method: 'post') do  %>
          <div class="form-group">
            <%= label_tag :name, "Name:" %>
            <%= text_field_tag :name, "#{@user.name}", :readonly => true, class: 'form-control' %>
            <%= hidden_field_tag :user_id, @user.id %>
          </div>

          <div class="form-group">
            <%= label_tag :original_url, "Your URL:" %>
            <%= text_field_tag :original_url, "", class: 'form-control' %>
          </div>

          <%= submit_tag "Shortify", class: 'btn btn-success btn-lg'%>
          or
          <%= link_to "Cancel", root_url %>

        <% end %>
      <% else %>
        <h4>Please sign up or sign in to use Shortify.</h4>
      <% end %>

      </div>
  </div>
</div>